<div class="container">
  <div class="child-container informazioni">
    <div class="flex">
      <div class="section-title">
        <p class="section-title">{{ labelConstant.informazioniGenerali }}</p>
      </div>
      <div class="icon-edit" (click)="changeStep(0)">
        <mat-icon>{{ iconConstant.edit }}</mat-icon>
      </div>
    </div>
    <div class="flex-content">
      <div>
        <p class="subtitle">{{ labelConstant.nome }}</p>
        <p class="info">{{ formValue.nome }}</p>
      </div>
      <div class="w-23">
        <p class="subtitle">{{ labelConstant.indirizzo }}</p>
        <p class="info">{{ formValue.indirizzo }}</p>
      </div>
      <div class="w-30">
        <p class="subtitle">{{ labelConstant.citta }}</p>
        <p class="info">{{ formValue.citta }}</p>
      </div>
    </div>
    <div class="flex-content">
      <div>
        <p class="subtitle">{{ labelConstant.codice_postale }}</p>
        <p class="info">{{ formValue.codicePostale }}</p>
      </div>
      <!-- LO STATO DEVE ESSERE VISUALIZZATO SOTTO FORMA DI CHIP -->
      <div class="w-25">
        <p class="subtitle">{{ labelConstant.statoAffitto }}</p>
        <p class="info">{{ formValue.statoAffitto }}</p>
      </div>
      <div class="w-30">
        <p class="subtitle">{{ labelConstant.statoManutenzione }}</p>
        <p class="info">{{ formValue.statoManutenzione }}</p>
      </div>
    </div>
    <div class="flex-content">
      <div>
        <p class="subtitle">{{ labelConstant.dataInserimento }}</p>
        <p class="info">
          {{ formValue.dataInserimento | date : "dd/MM/yyyy" }}
        </p>
      </div>
      <div class="w-27">
        <p class="subtitle">{{ labelConstant.locatore }}</p>
        <p class="info">{{ formValue.locatore }}</p>
      </div>
      <div class="w-30">
        <p class="subtitle">{{ labelConstant.arredamento }}</p>
        <p class="info">
          {{
            formValue.arredamento
              ? labelConstant.con_arredamento
              : labelConstant.senza_arredamento
          }}
        </p>
      </div>
    </div>
    <div class="flex-content">
      <div id="map" style="height: 400px"></div>
    </div>
  </div>
  <mat-divider></mat-divider>
  <div class="child-container caratteristiche">
    <div class="flex">
      <div class="section-title">
        <p class="section-title">{{ labelConstant.caratteristiche }}</p>
      </div>
      <div class="icon-edit" (click)="changeStep(1)">
        <mat-icon>{{ iconConstant.edit }}</mat-icon>
      </div>
    </div>
    <div class="flex-content">
      <div>
        <p class="subtitle">{{ labelConstant.dimensione }}</p>
        <p class="info">{{ formValue.caratteristiche.dimensione + " MQ" }}</p>
      </div>
      <div class="w-20">
        <p class="subtitle">{{ labelConstant.camere }}</p>
        <p class="info">{{ formValue.caratteristiche.camere }}</p>
      </div>
      <div class="w-30">
        <p class="subtitle">{{ labelConstant.bagni }}</p>
        <p class="info">{{ formValue.caratteristiche.bagni }}</p>
      </div>
    </div>
    <div class="flex-content">
      <div>
        <p class="subtitle">{{ labelConstant.piano }}</p>
        <p class="info">{{ formValue.caratteristiche.piano }}</p>
      </div>
      <div class="w-27">
        <p class="subtitle">{{ labelConstant.giardino }}</p>
        <p class="info">
          {{
            formValue.caratteristiche.giardino
              ? labelConstant.con_giardino
              : labelConstant.senza_giardino
          }}
        </p>
      </div>
      <div class="w-30">
        <p class="subtitle">{{ labelConstant.postoAuto }}</p>
        <p class="info">
          {{
            formValue.caratteristiche.postoAuto
              ? labelConstant.con_posto
              : labelConstant.senza_posto
          }}
        </p>
      </div>
    </div>
    <div class="flex-content">
      <div>
        <p class="subtitle">{{ labelConstant.ariaCondizionata }}</p>
        <p class="info">
          {{
            formValue.caratteristiche.ariaCondizionata
              ? labelConstant.con_aria
              : labelConstant.senza_aria
          }}
        </p>
      </div>
      <div>
        <p class="subtitle">{{ labelConstant.tipoRiscaldamento }}</p>
        <p class="info">{{ formValue.caratteristiche.tipoRiscaldamento }}</p>
      </div>
    </div>
  </div>
  <mat-divider></mat-divider>
  <div class="child-container costi">
    <div class="flex">
      <div class="section-title">
        <p class="section-title">{{ labelConstant.costi }}</p>
      </div>
      <div class="icon-edit" (click)="changeStep(2)">
        <mat-icon>{{ iconConstant.edit }}</mat-icon>
      </div>
    </div>
    <div class="flex-content">
      <div>
        <p class="subtitle">{{ labelConstant.importoAffittoMensile }}</p>
        <p class="info">
          {{ formValue.costi.importoAffittoMensile + " Euro" }}
        </p>
      </div>
      <div class="w-32">
        <p class="subtitle">{{ labelConstant.metodoPagamento }}</p>
        <p class="info">{{ formValue.costi.metodoPagamento }}</p>
      </div>
      <!-- TODO: Gestirlo nel assegnazione del inquilino -->
      <!-- <div>
        <p class="subtitle">{{ labelConstant.dataInizioContratto }}</p>
        <p class="info">
          {{ formValue.costi.dataInizioContratto | date : "dd/MM/yyyy" }}
        </p>
      </div>
      <div>
        <p class="subtitle">{{ labelConstant.dataFineContratto }}</p>
        <p class="info">
          {{ formValue.costi.dataFineContratto | date : "dd/MM/yyyy" }}
        </p>
      </div> 
      <div>
        <p class="subtitle">{{ labelConstant.durataContratto }}</p>
        <p class="info">{{ formValue.costi.durataContratto }}</p>
      </div>-->
    </div>
  </div>
</div>
