<div class="container-form" [formGroup]="form">
  <mat-form-field
    appearance="outline"
    formGroupName="costi"
    class="font-text w-49"
  >
    <mat-label>{{ inputConstant.importoAffittoMensile }}</mat-label>
    <input
      type="text"
      matInput
      formControlName="importoAffittoMensile"
      noEmoji
    />
    <mat-error>{{
      form.get("importoAffittoMensile")?.hasError("required")
        ? errorConstant.campo_obbligatorio
        : errorConstant.campo_non_valido
    }}</mat-error>
  </mat-form-field>
  <!-- <mat-form-field
    appearance="outline"
    formGroupName="costi"
    class="font-text w-49"
  >
    <mat-label>{{ inputConstant.seleziona_data }}</mat-label>
    <mat-date-range-input [rangePicker]="picker" [dateFilter]="dateFilter">
      <input
        matStartDate
        placeholder="Start date"
        formControlName="dataInizioContratto"
      />
      <input
        matEndDate
        placeholder="End date"
        formControlName="dataFineContratto"
      />
    </mat-date-range-input>
    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-date-range-picker #picker></mat-date-range-picker>
  </mat-form-field> -->
  <!-- <mat-form-field
    appearance="outline"
    formGroupName="costi"
    class="font-text w-49"
  >
    <mat-label>{{ inputConstant.durataContratto }}</mat-label>
    <input matInput formControlName="durataContratto" noEmoji readonly />
  </mat-form-field> -->
  <mat-form-field
    class="font-text w-49"
    appearance="outline"
    formGroupName="costi"
  >
    <mat-label>{{ labelConstant.metodoPagamento }}</mat-label>
    <mat-select formControlName="metodoPagamento">
      <mat-option *ngFor="let opt of tipoPagamento" [value]="opt | uppercase">{{
        opt | titlecase
      }}</mat-option>
    </mat-select>
    <mat-error>{{ errorConstant.campo_obbligatorio }}</mat-error>
  </mat-form-field>
</div>
