<div class="background"></div>
<div class="container">
  <div class="content-info">
    <img class="logo" src="../../../../../assets/images/logo2.png" alt="Logo" />
    <div class="text">
      <h2>{{ labelConstant.welcome }}</h2>
      <h3>{{ labelConstant.insert_password }}</h3>
    </div>
  </div>
  <div class="login-box">
    <div class="form-box">
      <form (ngSubmit)="submitForm()" [formGroup]="form">
        <h2>{{ labelConstant.new_password }}</h2>
        <div class="input-box">
          <mat-form-field class="email" appearance="outline">
            <mat-label> {{ labelConstant.password }} </mat-label>
            <div class="input-password">
              <input
                matInput
                [type]="passwordHide ? 'password' : 'text'"
                formControlName="password"
                noEmoji
              />
              <mat-icon mat-suffix (click)="passwordHide = !passwordHide">{{
                passwordHide
                  ? iconConstant.visibility_off
                  : iconConstant.visibility
              }}</mat-icon>
            </div>
            <mat-error>
              {{
                this.form.get("password")?.hasError("required")
                  ? errorConstant.campo_obbligatorio
                  : errorConstant.campo_non_valido
              }}
            </mat-error>
          </mat-form-field>
          <mat-form-field class="email" appearance="outline">
            <mat-label> {{ labelConstant.repetPassword }} </mat-label>
            <div class="input-password">
              <input
                matInput
                [type]="repeatPasswordHide ? 'password' : 'text'"
                formControlName="repeatPassword"
                noEmoji
              />
              <mat-icon
                mat-suffix
                (click)="repeatPasswordHide = !repeatPasswordHide"
                >{{
                  repeatPasswordHide
                    ? iconConstant.visibility_off
                    : iconConstant.visibility
                }}</mat-icon
              >
            </div>
            <mat-error>
              {{
                this.form.get("repeatPassword")?.hasError("required")
                  ? errorConstant.campo_obbligatorio
                  : errorConstant.password_non_corrispondono
              }}
            </mat-error>
          </mat-form-field>
        </div>
        <button
          mat-raised-button
          appearance="outline"
          color="primary"
          class="btn"
          type="submit"
          [disabled]="!form.valid"
        >
          {{ buttonConstant.go_to_login }}
        </button>
      </form>
    </div>
  </div>
</div>
