@import "./mixin.scss";

$black: black;
$white: whitesmoke;
$darker-white: #f4f4f4;
$grey: #656d70;
$primary: linear-gradient(#020419, whitesmoke);;
$primary-hover: #ffab00;
$secondary: #251200;
$light-grey: #e9e9e9;
$success: #2e7d32;


$font-8: 0.5rem;
$font-10: 0.625rem;
$font-11: 0.695rem;
$font-12: 0.75rem;
$font-13: 0.813rem;
$font-14: 0.875rem;
$font-13: 0.813rem;
$font-15: 0.938rem;
$font-16: 1rem;
$font-18: 1.125rem;
$font-20: 1.25rem;
$font-22: 1.375rem;
$font-24: 1.5rem;
$font-26: 1.625rem;
$font-28: 1.75rem;
$font-30: 1.875rem;
$font-32: 2rem;
$font-36: 2.25rem;
$font-40: 2.5rem;
$font-44: 2.75rem;
$font-48: 3rem;

$box-shadow: 4px 4px 9px rgba(36, 82, 199, 0.18);

$xs-min: 320px;
$xs-max: 480px;
$sm-min: 481px;
$sm-max: 768px;
$md-min: 769px;
$md-max: 1024px;
$lg-min: 1025px;
$lg-max: 1200px;
$xl-min: 1201px;
$xl-max: 1399px;
$xxl-min: 1400px;
$xxl-max: 1919px;
$xxxl-min: 1920px;

$icon-size: 48px;
