<div class="modal-container">
  <div class="modal-content {{ data.dimension }}">
    <mat-icon class="close-icon" (click)="closeDialog()">close</mat-icon>
    <div class="modal-header">
      <div class="{{ data.tipo }} bg-{{ data.status }}">
        <mat-icon class="{{ data.status }}">{{ data.icona }}</mat-icon>
      </div>
      <span class="modal-title {{ data.status }}">{{ data.titolo }}</span>
      <span
        class="modal-subtitle mt-24 {{
          data.class === 'textCentered' ? 'textCentered' : ''
        }}"
        >{{ data.subtitle }}</span
      >
    </div>
  </div>
</div>
