<div class="spinner-container-loading" *ngIf="showSpinner">
  <div class="spinner-loader">
    <div class="spinner-loader">
      <div class="spinner-loader">
        <div class="spinner-loader">
          <div class="spinner-loader">
            <div class="spinner-loader"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="spinnerContainer" *ngIf="showLoggedIn">
  <video autoplay muted loop id="background-video">
    <source
      src="../../../assets/videos/introduction-beach.mp4"
      type="video/mp4"
    />
    {{ errorConstant.animation_not_supported }}
  </video>
  <div class="spinner"></div>
  <div class="loader">
    <p>{{ labelConstant.loading }}</p>
    <div class="words">
      <span class="word">{{ labelConstant.dashboard }}</span>
      <span class="word">{{ labelConstant.case }}</span>
      <span class="word">{{ labelConstant.allestimenti }}</span>
      <span class="word">{{ labelConstant.prenotazioni }}</span>
      <span class="word">{{ labelConstant.statistiche }}</span>
    </div>
  </div>
</div>
