<!-- LISTA LOCATORI -->
<div class="container-content" *ngIf="locatore">
  <div class="image-profile">
    <img class="logo" [src]="data?.photoURL" alt="image-profile" />
    <div class="status">
      <div [ngClass]="getStatusClass(data?.status)"></div>
      <h2 class="status_content">
        {{ data?.status ? (data?.status | titlecase) : "-" }}
      </h2>
    </div>
  </div>
  <div class="container-title">
    <h2 class="title">
      {{ data?.displayName ? (data?.displayName | titlecase) : "-" }}
    </h2>
  </div>
  <div class="flex flex-end">
    <button id="btn" mat-icon-button color="primary" (click)="onActionClick()">
      <mat-icon>{{ iconConstant.arrow_forward }}</mat-icon
      >{{ buttonConstant.dettaglio }}
    </button>
  </div>
</div>

<!-- LISTA CASE DEI LOCATORI -->
<div class="container-content" *ngIf="caseLocatore">
  <div class="image-profile">
    <img class="logo" [src]="randomImageUrl" alt="image-house" />
  </div>
  <div class="container-title">
    <h2 class="title">
      {{ data?.nome ? (data?.nome | titlecase) : "-" }}
    </h2>
  </div>
  <div class="flex flex-end">
    <button
      class="btn"
      mat-icon-button
      color="primary"
      (click)="onActionClick()"
    >
      <i class="animation"></i>
      <mat-icon>{{ iconConstant.arrow_back }}</mat-icon
      >{{ buttonConstant.dettaglio }}
      <i class="animation"></i>
    </button>
  </div>
</div>
