<div class="container-content">
  <div class="image-profile">
    <img class="logo" [src]="data?.photoURL" alt="image-profile" />
    <div class="status">
      <div [ngClass]="getStatusClass(data?.status)"></div>
      <h2 class="status_content">
        {{ data?.status ? (data?.status | titlecase) : "-" }}
      </h2>
    </div>
  </div>
  <div class="container-title">
    <h2 class="title">
      {{ data?.displayName ? (data?.displayName | titlecase) : "-" }}
    </h2>
  </div>
  <div class="flex flex-end">
    <button id="btn" mat-icon-button color="primary" (click)="onActionClick()">
      <mat-icon>{{ iconConstant.arrow_forward }}</mat-icon
      >{{ buttonConstant.dettaglio }}
    </button>
  </div>
</div>
