@import "../../../assets/scss/variables.scss";

.header {
  display: flex;
  flex-direction: column;
  padding: 20px 0px 0px 25px;
  background: linear-gradient(whitesmoke, #020419);
  color: $secondary;
}

.header__upper,
.header__lower {
  display: flex;
  align-items: center;
  gap: 10px;
}

.header__upper {
  justify-content: space-between;
}

.header__title {
  margin: 0;
}

.header__actions {
  display: flex;
  gap: 10px;
  padding: 8px;
}

.header__icon {
  width: 30px;
  height: 30px;
  background-color: #2512000d;
  color: $secondary;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.menu {
  position: absolute;
  top: 83px;
  z-index: 1;
  width: 150px;
  background-color: white;
  right: 7%;
  border-radius: 5px;
  box-shadow: 1px 5px 5px 1px rgba(0, 0, 0, 0.2);
}

.menu__item {
  cursor: pointer;
  padding: 10px;
  display: flex;
  gap: 10px;
  align-items: center;
}

.menu__item:hover {
  background-color: rgb(192, 192, 192);
}

.contact-info {
  display: flex;
  gap: 5px;
}
