<div class="modal-container">
  <div class="modal-content {{ data.dimension }}">
    <mat-icon class="close-icon" (click)="closeDialog()" matTooltip="Chiudi">close</mat-icon>
    <div class="modal-header">
      <span class="modal-title">{{ data.title }}</span>
      <span class="modal-subtitle">{{ data.subtitle }}</span>
    </div>
    <div class="modal-body">
      <mat-divider></mat-divider>
      <div class="modal-action-buttons mt-12">
        <button
          mat-button
          type="button"
          color="accent"
          class="c-button-medium h-42"
          (click)="closeDialog()"
        >
          {{ buttonConstant.annulla }}
        </button>
        <button
          mat-raised-button
          color="{{
            data.buttonType === 'orange' ? 'primary' : data.buttonType
          }}"
          class="c-button-medium h-42"
          [ngClass]="data.buttonType === 'orange' ? 'c-button-orange' : ''"
          (click)="confirmAction()"
        >
          {{ data.buttonText }}
        </button>
      </div>
    </div>
  </div>
</div>
