

<div class="background"></div>
    <div class="container">
        <div class="content">
            <h2 class="logo"><i class='bx bxl-firebase' ></i>Retail</h2>

            <div class="text-sci">
                <h2>Welcome<br><span>to our new website!</span></h2>

                <p>We're delighted to have you here. If you need any assistance, feel free to reach out!</p>
            </div>
        </div>

            

        <div class="logreg-box">
            <div class="form-box">
                <form action="#">
                    <h2>Login</h2>

                    <div class="input-box">
                        <span class="icon"><i class='bx bxs-envelope' ></i></span>
                        <input type="email" required>
                        <label>Email</label>
                    </div>

                    <div class="input-box">
                        <span class="icon"><i class='bx bxs-lock-alt' ></i></span>
                        <input type="password" required>
                        <label>Password</label>
                    </div>

                    <div class="remember-forgot">
                        <label><input type="checkbox">Remember me!</label>
                        <a href="#">Forgot Password?</a>
                    </div>

                    <button type="submit" class="btn">Login</button>
                </form>
            </div>
        </div>
    </div>


