<div class="background"></div>

    <div class="container">
        <div class="content-info">
            <img src="../../../../../assets/official-logo2.jpg" alt="logo">
            <h2 class="logo">Retail</h2>
            <div class="text">
                <h2>Welcome</h2>
                <h3>to our new website!</h3>
                <h4>We're delighted to have you here. If you need any assistance, feel free to reach out!</h4>
            </div>
        </div>

            

        <div class="login-box">
            <div class="form-box">
                <form (ngSubmit)="submitForm()" [formGroup]="form">
                    <h2>{{ labelConstant.login }}</h2>
                    <div class="input-box">
                        <mat-form-field class="email" appearance="outline">
                            <mat-label>{{ labelConstant.mail }} </mat-label>
                            <input
                              matInput
                              class="form-control"
                              type="email"
                              formControlName="email"
                              autocomplete="email"
                              noEmoji
                            />
                            <mat-error>
                              {{
                                this.form.get("email")?.hasError("pattern") &&
                                !this.form.get("email")?.hasError("required")
                                  ? errorConstant.email_address
                                  : errorConstant.campo_obbligatorio
                              }}
                            </mat-error>
                          </mat-form-field>
                    </div>

                    <div class="input-box">
                        <mat-form-field class="email" appearance="outline">
                            <mat-label> {{ labelConstant.password }} </mat-label>
                            <div class="input-password">
                              <input
                                matInput
                                [type]="passwordHide ? 'password' : 'text'"
                                formControlName="password"
                                noEmoji
                              />
                              <mat-icon mat-suffix (click)="passwordHide = !passwordHide">{{
                                passwordHide
                                  ? iconConstant.visibility_off
                                  : iconConstant.visibility
                              }}</mat-icon>
                            </div>
                            <mat-error>
                              {{
                                this.form.get("password")?.hasError("required")
                                  ? errorConstant.campo_obbligatorio
                                  : errorConstant.campo_non_valido
                              }}
                            </mat-error>
                          </mat-form-field>
                    </div>

                    <div class="remember-forgot">
                        <label><input type="checkbox">Remember me!</label>
                        <a href="#">Forgot Password?</a>
                    </div>

                    <button type="submit" class="btn">Login</button>
                </form>
            </div>
        </div>
    </div>


