<div class="container">
  <div class="search-bar">
    <mat-form-field appearance="outline">
      <mat-label>{{ inputConstant.nome }}</mat-label>
      <input
        matInput
        placeholder="Cerca per nome..."
        [(ngModel)]="searchTerm"
        (ngModelChange)="filterLocatori()"
      />
    </mat-form-field>
  </div>
  <div
    class="card-container"
    *ngIf="filteredLocatori.length > 0; else noLocatori"
  >
    <app-generic-card
      *ngFor="let user of filteredLocatori"
      [data]="user"
      [actionCallback]="dettaglioLocatore"
      [locatore]="true"
    ></app-generic-card>
  </div>
  <ng-template #noLocatori>
    <div class="container-locatori">
      <span>{{ resultConstant.nessun_locatore_trovato }}</span>
    </div>
  </ng-template>
</div>
