@import "../../../assets/scss/variables.scss";
@import "../../../assets/scss/scrollbar.scss";

.container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: flex-start;
  align-items: flex-start;
  background-color: $white;
  height: auto;
  border: 1px solid rgba(37, 18, 0, 0.1);
  border-radius: 8px;
  overflow-y: scroll;
  .informazioni {
    background-color: $white;
    padding: 24px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 24px;
    height: auto;
    width: 100%;
    .locatore {
      @include text($font-16, 700, $lite-brown, 19px, none);
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
      align-content: center;
      align-items: center;
      width: 100%;
      background-color: $sand;
      padding: 24px;
      gap: 24px;
      .content_locatore {
        @include text($font-16, 700, $lite-brown, 19px, none);
        width: 100%;
        border-bottom: 1px solid grey;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        align-content: center;
        align-items: center;
        gap: 16px;
      }
      .content {
        @include text($font-16, 400, $brown-opacity-80, 19px, none);
        display: flex;
        gap: 5px;

        .mt-4 {
          margin-top: 4px;
        }
      }
    }
    .content_informazioni {
      @include text($font-16, 700, $lite-brown, 19px, none);
      width: 100%;
      border-bottom: 1px solid grey;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
      align-content: center;
      align-items: center;
      gap: 16px;
      .content {
        @include text($font-16, 400, $brown-opacity-80, 19px, none);
        display: flex;
        gap: 8px;
        .mt-4 {
          margin-top: 4px;
        }
        /* Stili delle Chips in base allo stato */
        .chip-green {
          background-color: #4caf50;
          color: white;
          border: 1px solid green;
          .value {
            margin-top: 6px;
            @include text($font-16, 500, none, 19px, none);
          }
        }
        .chip-orange {
          background-color: #ff9800;
          color: white;
          border: 1px solid orange;
          .value {
            margin-top: 6px;
            @include text($font-16, 500, none, 19px, none);
          }
        }
        .chip-red {
          background-color: #f44336;
          color: white;
          border: 1px solid red;
          .value {
            margin-top: 6px;
            @include text($font-16, 500, none, 19px, none);
          }
        }
        .stato {
          margin-bottom: 4px;
        }
      }
    }
  }
  .localizzazione {
    background-color: $white;
    padding: 24px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 24px;
    height: auto;
    width: 100%;
    .content_localizzazione {
      width: 100%;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
      align-content: center;
      align-items: center;
      gap: 16px;
      #map {
        height: 400px;
        width: 100%;
      }
    }
  }
  .caratteristiche {
    background-color: $sand;
    padding: 24px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 24px;
    height: auto;
    width: 100%;
    .content_caratteristiche {
      @include text($font-16, 700, $lite-brown, 19px, none);
      width: 100%;
      border-bottom: 1px solid grey;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
      align-content: center;
      align-items: center;
      gap: 16px;
      .content {
        @include text($font-16, 400, $brown-opacity-80, 19px, none);
        display: flex;
        gap: 8px;
        .mt-4 {
          margin-top: 4px;
        }
      }
    }
  }
  .costi {
    background-color: $white;
    padding: 24px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 24px;
    height: auto;
    width: 100%;
    .content_costi {
      @include text($font-16, 700, $lite-brown, 19px, none);
      width: 100%;
      border-bottom: 1px solid grey;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
      align-content: center;
      align-items: center;
      gap: 16px;
      .content {
        @include text($font-16, 400, $brown-opacity-80, 19px, none);
        display: flex;
        gap: 8px;
        .mt-4 {
          margin-top: 4px;
        }
      }
    }
  }
}
