<div class="background"></div>
<div class="container">
  <div class="content-info">
    <img class="logo" src="../../../../../assets/images/logo2.png" alt="Logo" />
    <div class="text">
      <h2>{{ labelConstant.welcome }}</h2>
      <h3>{{ labelConstant.send_email }}</h3>
    </div>
  </div>
  <div class="login-box">
    <div class="form-box">
      <form (ngSubmit)="submitForm()" [formGroup]="form">
        <h2>{{ labelConstant.forgot_password }}</h2>
        <div class="input-box">
          <mat-form-field class="email" appearance="outline">
            <mat-label>{{ labelConstant.email }} </mat-label>
            <input
              matInput
              class="form-control"
              type="email"
              formControlName="email"
              noEmoji
            />
            <mat-error>
              {{
                this.form.get("email")?.hasError("pattern") &&
                !this.form.get("email")?.hasError("required")
                  ? errorConstant.email_address
                  : errorConstant.campo_obbligatorio
              }}
            </mat-error>
          </mat-form-field>
        </div>

        <button
          mat-raised-button
          appearance="outline"
          color="primary"
          class="btn"
          type="submit"
          [disabled]="!form.valid"
        >
          {{ buttonConstant.invia_email }}
        </button>
      </form>
    </div>
  </div>
</div>
