<div class="container">
  <div class="informazioni">
    <div class="locatore">
      <h5>{{ labelConstant.locatore }}</h5>
      <div class="content_locatore">
        <h5>{{ labelConstant.nome }}</h5>
        <div class="content">
          <span class="material-symbols-outlined mt-4">{{
            iconConstant.badge
          }}</span>
          <h6>
            {{
              locatore.displayName.stringValue
                ? (locatore.displayName.stringValue | titlecase)
                : "-"
            }}
          </h6>
        </div>
      </div>
      <div class="content_locatore">
        <h5>{{ labelConstant.telefono }}</h5>
        <div class="content">
          <span class="material-symbols-outlined mt-4">{{
            iconConstant.call
          }}</span>
          <h6>
            {{
              locatore.phoneNumber.stringValue
                ? locatore.phoneNumber.stringValue
                : "-"
            }}
          </h6>
        </div>
      </div>

      <div class="content_informazioni">
        <h5>{{ labelConstant.arredamento }}</h5>
        <div class="content">
          <span class="material-symbols-outlined mt-4">{{
            iconConstant.responsive_layout
          }}</span>
          <h6>
            {{
              informazioni.arredamento.booleanValue
                ? "Arredata"
                : "Non arredata"
            }}
            <ng-container *ngIf="informazioni.arredamento?.booleanValue">
              -
              <a
                [href]="informazioni.documentoArredamento.stringValue"
                target="_blank"
              >
                Documento Allegato
              </a>
            </ng-container>
          </h6>
        </div>
      </div>
      <div class="content_informazioni">
        <h5>{{ labelConstant.affitto }}</h5>
        <div class="content">
          <span class="material-symbols-outlined mt-4">{{
            iconConstant.location_away
          }}</span>
          <mat-chip-set>
            <mat-chip
              [ngClass]="getStatusClass(informazioni.statoAffitto.stringValue)"
            >
              <span class="material-symbols-outlined mt-4 stato">{{
                getStatusIcon(informazioni.statoAffitto.stringValue)
              }}</span>
              <h6 class="value">
                {{
                  informazioni.statoAffitto.stringValue
                    ? informazioni.statoAffitto.stringValue
                    : "-"
                }}
              </h6>
            </mat-chip>
          </mat-chip-set>
        </div>
      </div>
      <div class="content_informazioni">
        <h5>{{ labelConstant.manutenzione }}</h5>
        <div class="content">
          <span class="material-symbols-outlined mt-4">{{
            iconConstant.build
          }}</span>
          <mat-chip-set>
            <mat-chip
              [ngClass]="
                getStatusClassManutenzione(
                  informazioni.statoManutenzione.stringValue
                )
              "
            >
              <span class="material-symbols-outlined mt-4 stato">{{
                getStatusIconManutenzione(
                  informazioni.statoManutenzione.stringValue
                )
              }}</span>
              <h6 class="value">
                {{
                  informazioni.statoManutenzione.stringValue
                    ? informazioni.statoManutenzione.stringValue
                    : "-"
                }}
              </h6>
            </mat-chip>
          </mat-chip-set>
        </div>
      </div>
    </div>
    <div class="localizzazione">
      <h4>{{ labelConstant.localita }}</h4>
      <div class="content_localizzazione">
        <div id="map" style="height: 400px"></div>
      </div>
    </div>
    <div class="caratteristiche">
      <h4>{{ labelConstant.carateristiche }}</h4>
      <div class="content_caratteristiche">
        <h5>{{ labelConstant.dimensione }}</h5>
        <div class="content">
          <span class="material-symbols-outlined mt-4">{{
            iconConstant.aspect_ratio
          }}</span>
          <h6>
            {{
              caratteristiche.dimensione.stringValue + " Mq"
                ? caratteristiche.dimensione.stringValue + " Mq"
                : "-"
            }}
          </h6>
        </div>
      </div>
      <div class="content_caratteristiche">
        <h5>{{ labelConstant.camere }}</h5>
        <div class="content">
          <span class="material-symbols-outlined mt-4">{{
            iconConstant.picture_in_picture
          }}</span>
          <h6>
            {{
              caratteristiche.camere.stringValue
                ? caratteristiche.camere.stringValue
                : "-"
            }}
          </h6>
        </div>
      </div>
      <div class="content_caratteristiche">
        <h5>{{ labelConstant.bagni }}</h5>
        <div class="content">
          <span class="material-symbols-outlined mt-4">{{
            iconConstant.bathtub
          }}</span>
          <h6>
            {{
              caratteristiche.bagni.stringValue
                ? caratteristiche.bagni.stringValue
                : "-"
            }}
          </h6>
        </div>
      </div>
      <div class="content_caratteristiche">
        <h5>{{ labelConstant.piano }}</h5>
        <div class="content">
          <span class="material-symbols-outlined mt-4">{{
            iconConstant.stairs_2
          }}</span>
          <h6>
            {{
              caratteristiche.piano.stringValue
                ? caratteristiche.piano.stringValue
                : "-"
            }}
          </h6>
        </div>
      </div>
      <div class="content_caratteristiche">
        <h5>{{ labelConstant.giardino }}</h5>
        <div class="content">
          <span class="material-symbols-outlined mt-4">{{
            iconConstant.psychiatry
          }}</span>
          <h6>
            {{
              caratteristiche.giardino.booleanValue
                ? "Con giardino"
                : "Senza giardino"
            }}
          </h6>
        </div>
      </div>
      <div class="content_caratteristiche">
        <h5>{{ labelConstant.postoAuto }}</h5>
        <div class="content">
          <span class="material-symbols-outlined mt-4">{{
            iconConstant.garage
          }}</span>
          <h6>
            {{
              caratteristiche.postoAuto.booleanValue
                ? "Con posto auto"
                : "Senza posto auto"
            }}
          </h6>
        </div>
      </div>
      <div class="content_caratteristiche">
        <h5>{{ labelConstant.ariaCondizionata }}</h5>
        <div class="content">
          <span class="material-symbols-outlined mt-4">{{
            iconConstant.air
          }}</span>
          <h6>
            {{
              caratteristiche.ariaCondizionata.booleanValue
                ? "Con aria condizionata"
                : "Senza aria condizionata"
            }}
          </h6>
        </div>
      </div>
      <div class="content_caratteristiche">
        <h5>{{ labelConstant.tipoRiscaldamento }}</h5>
        <div class="content">
          <span class="material-symbols-outlined mt-4">{{
            iconConstant.mode_heat_cool
          }}</span>
          <h6>
            {{
              caratteristiche.tipoRiscaldamento.stringValue
                ? caratteristiche.tipoRiscaldamento.stringValue
                : "-"
            }}
          </h6>
        </div>
      </div>
    </div>
    <div class="costi">
      <h4>{{ labelConstant.costi }}</h4>
      <div class="content_costi">
        <h5>{{ labelConstant.importoAffittoMensile }}</h5>
        <div class="content">
          <span class="material-symbols-outlined mt-4">{{
            iconConstant.attach_money
          }}</span>
          <h6>
            {{
              costi.importoAffittoMensile.stringValue + " Euro"
                ? costi.importoAffittoMensile.stringValue + " Euro"
                : "-"
            }}
          </h6>
        </div>
      </div>
      <div class="content_costi">
        <h5>{{ labelConstant.metodoPagamento }}</h5>
        <div class="content">
          <span class="material-symbols-outlined mt-4">{{
            iconConstant.payments
          }}</span>
          <h6>
            {{
              costi.metodoPagamento.stringValue
                ? costi.metodoPagamento.stringValue
                : "-"
            }}
          </h6>
        </div>
      </div>
    </div>
  </div>
</div>
