@use "@angular/material" as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.

/* You can add global styles to this file, and also import other style files */
@import "https://fonts.googleapis.com/css?family=Material+Icons|Material+Icons+Outlined|Material+Icons+Two+Tone|Material+Icons+Round|Material+Icons+Sharp";
@import "https://fonts.googleapis.com/css2?family=Heebo&display=swap";
@import "./assets/scss/variables.scss";
@import "./assets/scss/input.scss";
@import "./assets/scss/button.scss";
@import "./assets/scss/input.scss";

// @import "./assets/scss/input.scss";

/* # =================================================================
   # Global selectors
   # ================================================================= */

html {
  box-sizing: border-box;
  -webkit-text-size-adjust: 100%; /* Prevent adjustments of font size after orientation changes in iOS */
  word-break: normal;
  -moz-tab-size: 4;
  tab-size: 4;
}

body {
  height: 100vh;
  font-family: "Heebo", sans-serif;
  input:-webkit-autofill,
  input:-webkit-autofill:focus {
    transition: background-color 600000s 0s, color 600000s 0s;
  }
  h1 {
    font-size: $font-44;
  }

  h2 {
    font-size: $font-40;
  }

  h3 {
    font-size: $font-28;
  }

  h4 {
    @include text($font-16, 500, $black, 16px, null);
  }

  h5 {
    font-size: $font-16;
  }

  h6 {
    font-size: $font-12;
  }

  .paragraph {
    @include text($font-18, 500, $black, 21px, none);
  }

  button,
  textarea,
  input {
    &:disabled {
      user-select: none;
    }
  }
}

*,
::before,
::after {
  background-repeat: no-repeat; /* Set `background-repeat: no-repeat` to all elements and pseudo elements */
  box-sizing: inherit;
}

::before,
::after {
  text-decoration: inherit; /* Inherit text-decoration and vertical align to ::before and ::after pseudo elements */
  vertical-align: inherit;
}

* {
  padding: 0; /* Reset `padding` and `margin` of all elements */
  margin: 0;
  &::-webkit-scrollbar {
    display: none;
  }
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none; /* Firefox */
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-bottom: 8px;
}

/* # =================================================================
     # General elements
     # ================================================================= */

hr {
  overflow: visible; /* Show the overflow in Edge and IE */
  height: 0; /* Add the correct box sizing in Firefox */
  color: inherit; /* Correct border color in Firefox. */
}

details,
main {
  display: block; /* Render the `main` element consistently in IE. */
}

summary {
  display: list-item; /* Add the correct display in all browsers */
}

small {
  font-size: 80%; /* Set font-size to 80% in `small` elements */
}

[hidden] {
  display: none; /* Add the correct display in IE */
}

abbr[title] {
  border-bottom: none; /* Remove the bottom border in Chrome 57 */
  /* Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari */
  text-decoration: underline;
  text-decoration: underline dotted;
}

a {
  background-color: transparent; /* Remove the gray background on active links in IE 10 */
  cursor: pointer;
  // @include text($font-16, 500, $secondary-color, 19px, none);
}

a:active,
a:hover {
  outline-width: 0; /* Remove the outline when hovering in all browsers */
}

code,
kbd,
pre,
samp {
  font-family: monospace, monospace; /* Specify the font family of code elements */
}

pre {
  width: 100%;
  background-color: #eeeeee;
  border-radius: 10px;
}

pre {
  font-size: 1em; /* Correct the odd `em` font sizing in all browsers */
}

b,
strong {
  font-weight: bolder; /* Add the correct font weight in Chrome, Edge, and Safari */
}

/* https://gist.github.com/unruthless/413930 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

table {
  border-color: inherit; /* Correct border color in all Chrome, Edge, and Safari. */
  text-indent: 0; /* Remove text indentation in Chrome, Edge, and Safari */
}

iframe {
  border-style: none;
}

/* # =================================================================
     # Forms
     # ================================================================= */

input {
  border-radius: 0;
}

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto; /* Correct the cursor style of increment and decrement buttons in Chrome */
}

// [type="search"] {
//   -webkit-appearance: textfield; /* Correct the odd appearance in Chrome and Safari */
//   outline-offset: -2px; /* Correct the outline style in Safari */
// }

[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; /* Remove the inner padding in Chrome and Safari on macOS */
}

textarea {
  overflow: auto; /* Internet Explorer 11+ */
  resize: vertical; /* Specify textarea resizability */
}

button,
input,
optgroup,
select,
textarea {
  font: inherit; /* Specify font inheritance of form elements */
}

optgroup {
  font-weight: bold; /* Restore the font weight unset by the previous rule */
}

button {
  overflow: visible; /* Address `overflow` set to `hidden` in IE 8/9/10/11 */
}

button,
select {
  text-transform: none; /* Firefox 40+, Internet Explorer 11- */
}

/* Apply cursor pointer to button elements */
button,
[type="button"],
[type="reset"],
[type="submit"],
[role="button"] {
  cursor: pointer;
}

/* Remove inner padding and border in Firefox 4+ */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/* Replace focus style removed in the border reset above */
button:-moz-focusring,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  outline: 1px dotted ButtonText;
}

// button,
//   html [type='button'], /* Prevent a WebKit bug where (2) destroys native `audio` and `video`controls in Android 4 */
//   [type='reset'],
//   [type='submit'] {
//   -webkit-appearance: button; /* Correct the inability to style clickable types in iOS */
// }

/* Remove the default button styling in all browsers */
button,
input,
select,
textarea {
  background-color: transparent;
  border-style: none;
}

a:focus,
button:focus,
input:focus,
select:focus,
textarea:focus {
  outline-width: 0;
}

// /* Style select like a standard input */
// select {
//   -moz-appearance: none; /* Firefox 36+ */
//   -webkit-appearance: none; /* Chrome 41+ */
// }

select::-ms-expand {
  display: none; /* Internet Explorer 11+ */
}

select::-ms-value {
  color: currentColor; /* Internet Explorer 11+ */
}

legend {
  border: 0; /* Correct `color` not being inherited in IE 8/9/10/11 */
  color: inherit; /* Correct the color inheritance from `fieldset` elements in IE */
  display: table; /* Correct the text wrapping in Edge and IE */
  max-width: 100%; /* Correct the text wrapping in Edge and IE */
  white-space: normal; /* Correct the text wrapping in Edge and IE */
  max-width: 100%; /* Correct the text wrapping in Edge 18- and IE */
}

::-webkit-file-upload-button {
  /* Correct the inability to style clickable types in iOS and Safari */
  -webkit-appearance: button;
  color: inherit;
  font: inherit; /* Change font properties to `inherit` in Chrome and Safari */
}

/* Replace pointer cursor in disabled elements */
[disabled] {
  cursor: default;
}

/* # =================================================================
     # Specify media element style
     # ================================================================= */

img {
  border-style: none; /* Remove border when inside `a` element in IE 8/9/10 */
}

/* Add the correct vertical alignment in Chrome, Firefox, and Opera */
progress {
  vertical-align: baseline;
}

/* # =================================================================
     # Accessibility
     # ================================================================= */

/* Specify the progress cursor of updating elements */
[aria-busy="true"] {
  cursor: progress;
}

/* Specify the pointer cursor of trigger elements */
[aria-controls] {
  cursor: pointer;
}

/* Specify the unstyled cursor of disabled, not-editable, or otherwise inoperable elements */
[aria-disabled="true"] {
  cursor: default;
}

/** Configurazioni nostre */

mat-dialog-container {
  &.mat-dialog-container {
    border-radius: 0;
    padding: 0;
  }
}
.cdk-overlay-container {
  .mat-mdc-dialog-container {
    .mat-mdc-dialog-surface {
      border-radius: 8px;
      padding: 24px;
    }
  }
  .mat-mdc-menu-panel {
    margin-top: 12px;
    width: 176px;
    margin-right: 10px;
  }
}

.dark-backdrop {
  &.cdk-overlay-backdrop {
    background: rgba(0, 0, 0, 0.7);
    backdrop-filter: blur(10px);
  }
}

.modal-container {
  position: relative;
  .close-icon {
    position: absolute;
    font-size: $font-18;
    right: -13px;
    top: -13px;
    width: 34px;
    height: 34px;
    background-color: $white;
    display: flex;
    justify-content: center;
    align-items: center;
    color: $black;
    cursor: pointer;
    z-index: 1;
  }
}

.modal-content {
  position: relative;
  width: 100%;
  height: 565px;
  display: flex;
  flex-direction: column;
  align-items: center;

  .modal-title {
    @include text($font-20, 600, $black, 24px, null);
  }
  .modal-body {
    width: 100%;
  }
  .close-icon {
    position: absolute;
    font-size: $font-18;
    right: 10px;
    top: 0px;
    width: 34px;
    height: 34px;
    background-color: inherit;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: $black;
    cursor: pointer;
  }
}

.mt-50 {
  margin-top: 50px;
}

.mt-10 {
  margin-top: 10px;
}
.mt-12 {
  margin-top: 12px;
}
.mt-16 {
  margin-top: 16px;
}
.mt-24 {
  margin-top: 24px;
}
.mt-30 {
  margin-top: 30px;
}
.mt-32 {
  margin-top: 32px;
}
.mt-36 {
  margin-top: 36px;
}
.mb-10 {
  margin-bottom: 10px;
}
.mb-12 {
  margin-bottom: 12px;
}
.mb-16 {
  margin-bottom: 16px;
}
.mb-19 {
  margin-bottom: 19px;
}
.mb-24 {
  margin-bottom: 24px !important;
}
.mb-36 {
  margin-bottom: 36px;
}
.mb-5 {
  margin-bottom: 5px;
}
.ml-10 {
  margin-left: 10px;
}
.ml-24 {
  margin-left: 24px;
}
.mr-12 {
  margin-right: 12px;
}
.mt-16 {
  margin-top: 16px;
}

// .cdk-overlay-backdrop {
//   z-index: 990 !important;
//   &.custom-backdrop {
//     width: 100%;
//     height: 100vh;
//     position: fixed;
//     background: rgba(0, 0, 0, 0.5);
//   }
//   &.small-custom-backdrop {
//     width: 100%;
//     height: 100vh;
//     position: fixed;
//   }
// }

// .cdk-overlay-backdrop:not(.custom-backdrop):not(.small-custom-backdrop) {
//   z-index: 1000 !important;
// }

// .custom-panel {
//   right: 0;
// }

// .custom-subpanel {
//   right: 0%;
//   @media screen and (min-width: $xl-min) {
//     right: 50%;
//     z-index: 999 !important;
//   }
// }

// .modal-container {
//   position: relative;
//   .close-icon {
//     position: absolute;
//     font-size: $font-18;
//     top: 2px;
//     width: 34px;
//     height: 34px;
//     background-color: $darker-white;
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     color: $black;
//     cursor: pointer;
//     z-index: 1;
//   }
// }

.mat-mdc-button.mat-mdc-button-base,
.mat-mdc-raised-button.mat-mdc-button-base,
.mat-mdc-unelevated-button.mat-mdc-button-base,
.mat-mdc-outlined-button.mat-mdc-button-base {
  &.h-42 {
    height: 42px;
  }
  &.h-30 {
    height: 30px;
  }
}

// input::-ms-reveal,
// input::-ms-clear {
//   display: none;
// }

.custom-snackbar {
  .cdk-overlay-pane {
    height: 100px;
    left: 0;
    right: 0;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &.snack-warning {
    .mdc-snackbar__surface {
      background-color: $warning-bg-color !important;
    }
  }
  &.snack-error {
    .mdc-snackbar__surface {
      background-color: $error-bg-color !important;
    }
  }
  &.snack-success {
    .mdc-snackbar__surface {
      background-color: $success-bg-color !important;
    }
  }
}

// .leaflet-control-container {
//   display: none;
// }

// ._2Ftyt {
//   &.draw-pane-help {
//     display: none;
//   }
// }

// .mat-mdc-standard-chip .mdc-evolution-chip__cell--primary {
//   width: 100%;
// }

.mat-mdc-standard-chip:not(.mdc-evolution-chip--disabled)
  .mdc-evolution-chip__text-label {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      align-content: center;
      justify-content: center;
      align-items: center;
      gap: 8px;
      color: white !important;
}

// .mat-sort-header-container{
//   display: flex;
// cursor: pointer;
// align-items: center;
// letter-spacing: normal;
// outline: 0;
// flex-direction: row;
// flex-wrap: wrap;
// align-content: center;
// justify-content: center
// }

// .mat-mdc-chip-focus-overlay {
//   background: white;
// }

// .cdk-overlay-pane:not(.mat-mdc-select-panel-above)
//   .mdc-menu-surface.mat-mdc-select-panel {
//   &.misura {
//     width: 15%;
//     margin-left: auto;
//   }
// }
